@page "/about"

<h1>About Us</h1>

<p>We’re part of a national alliance of community organizers, developers, and designers that are putting technology to work in service of our local communities. We believe that government can work, for the people, by the people, in the digital age, if we all help.</p>

<p>Code for the Carolinas is a state-wide Code for America brigade that consists of several smaller city-based brigades, but anyone of any coding, wirting, desigining, or marketing skillset can start a project with CfC no matter where they live.</p>

<p>If you agree with our mission, join today!</p>

<MudButton Link="https://www.meetup.com/open-nc-collaborative/"
           Target="_blank"
           Variant="Variant.Filled"
           EndIcon="fab fa-meetup"
           Color="Color.Primary" style="background-color:#AF121D;">
    RSVP
</MudButton>
<MudButton Link="https://www.meetup.com/open-nc-collaborative/"
           Target="_blank"
           Variant="Variant.Filled"
           EndIcon="fab fa-slack"
           Color="Color.Primary" style="background-color:#AF121D;">
    JOIN OUR SLACK
</MudButton>

@code {

}
